name: Publish to GHCR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write   # IMPORTANT
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/gopu-inc/agentv1:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/gopu-inc/agentv1:latest
